.calendar .calendar-header {
    background-color: #CC251F;
    color: white;
    border: 0;
    font-family: inherit;
}

.calendar .calendar-header .year-title:hover,
.calendar .calendar-header .prev:hover,
.calendar .calendar-header .next:hover{
    background: rgba(255, 255, 255, 0.2);
}

.calendar .calendar-header .year-neighbor {
    color: inherit;
    opacity: 0.7;
}

.calendar .calendar-header .year-neighbor2 {
    color: inherit;
    opacity: 0.4;
}

.calendar .month-container {
    height: 210px;
    font-family: inherit;
}

.calendar table.month {
    height: 100%;
}

.calendar table.month .month-title {
    background-color: #CC251F;
    color: white;
    padding: 5px;
}

.calendar table.month .day-header {
    padding-top: 8px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.35);
}

.calendar table.month td.day .day-content {
    padding: 5px 8px;
}

.event-tooltip-content {
    font-family: courier-new, courier, monospace;
    font-size: small;
}

.flash {
    color: white;
    background-color: green !important;
}


.quiet {
    color: rgba(206,232,89,0.8);
}

.slightly_noisy {
    color: rgba(120,188,10,0.9);
}

.acceptable {
    color: rgb(127, 131, 122);
}

.noisy {
    color: rgba(248,218,69,0.9);
}

.very_noisy {
    color: rgba(255,174,20,0.9);
}

.unacceptable {
    color: rgb(255, 138, 20);
}

.text-unacceptable {
    color: rgb(255, 255, 255);
}

.excessively_noisy {
    color: rgba(238,16,16,0.9);
}

.text-excessively_noisy {
    color: rgb(255, 255, 255);
}

.unsocial {
    color: rgba(238,16,16,1.0);
}

.text-unsocial {
    color: rgb(255, 255, 255);
}

.constant {
    color: rgba(141,10,10,0.9);
}

.text-constant {
    color: rgb(255, 255, 255);
}