<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="MemsFCR Online Analysis">
	<meta name="author" content="Andrew Jackson">
	<meta name="google" content="notranslate"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Woof!</title>

	{% include 'includes.html' %}
</head>

<body>
<div class="page-wrapper toggled">
	<header>
		{% include 'header.html' %}
	</header>

	<main class="page-content">
		<div class="container-fluid">
			<div class="tab-content">

				<!-- record -->
				<div id="record" class="tab-pane fade show active" aria-labelledby="record">
					<div class="card mt-3">
						<div class="card-body text-center">
							<button id="yapping" type="button" class="btn btn-danger mb-3 d-none" onclick="woof.started('Yapping');">
								Yapping
							</button>
							<button id="barking" type="button" class="btn btn-danger mb-3" onclick="woof.started('Barking');">
								<i class="bi bi-megaphone-fill"></i>
								Barking
							</button>
							<button id="encouraged" type="button" class="btn btn-danger mb-3 d-none" onclick="woof.started('Barking (encouraged)');">
								Encouraged
							</button>
							<button id="quiet" type="button" class="btn btn-success mb-3" onclick="woof.stopped(0);">
								<i class="bi bi-volume-mute-fill"></i>
								All Quiet
							</button>
							<button id="quiet2" type="button" class="btn btn-warning mb-3" onclick="woof.stopped(1);">
								<i class="bi bi-volume-mute"></i><i class="bi bi-arrow-bar-right"></i>
								1 min
							</button>
							<button id="quiet5" type="button" class="btn btn-warning mb-3" onclick="woof.stopped(2);">
								<i class="bi bi-volume-mute"></i><i class="bi bi-arrow-bar-right"></i>
								2 mins
							</button>
							<button id="quiet20" type="button" class="btn btn-warning mb-3" onclick="woof.stopped(5);">
								<i class="bi bi-volume-mute"></i><i class="bi bi-arrow-bar-right"></i>
								5 mins
							</button>
							<div id="status"></div>
							<div id="duration"></div>
						</div>
					</div>
				</div>

				<!-- diary -->
				<div id="diary" class="tab-pane fade" aria-labelledby="diary">
					<div class="card mt-3">
						<div class="card-body">
							{% include 'calendar.html' %}
						</div>
						<div class="card-body" style="display: none">
							{% include 'diary.html' %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>

	<footer class="page-footer font-small pt-4">
		{% include 'footer.html' %}
	</footer>

</div>

</body>
</html>
